.container {
  max-width: 1120px;
  margin: -8rem auto 0;
  padding: 4rem 3rem;

  background: #FFFFFF;
  border-radius: 0.5rem;
  
  filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.06));
}

.container h2 {
  font-size: 1.75rem;
  color: #3D3D4D;
}

.container > header > section {
  margin: 0.75rem 0 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

@media screen and (max-width: 640px) {
  .container > header > section {
    display: block;
  }
}

.container main {
  margin-top: 3rem;
}

.tasks {
  list-style: none;
}

.container footer {
  margin-top: 3rem;
}

.container footer form input {
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  background: #EBEBEB;
  color: #1C1C29;
  padding: 12px 24px;
  border-radius: 4px;
  border: 0;
}

.container footer form input::placeholder {
  color: #A09CB1;
}

.container footer form button {
  cursor: pointer;
  margin-top: 1rem;
  width: 12.5%;
  min-width: 128px;
  font-weight: 600;
  border-radius: 0.25rem;
  border: 0;
  background: #0BC5EA;
  color: #FFFFFF;
  padding: 0.75rem;
  transition: filter 0.2s;
}

@media screen and (max-width: 640px) {
  .container footer form button {
    width: 100%;
  }
}

.container footer form button:hover {
  filter: brightness(0.95);
}