.container {
  background: #0BC5EA;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  max-width: 640px;
  width: 80%;
  padding: 3rem;

  background: #FFFFFF;
  border-radius: 0.5rem;
  
  filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.06));
}

.box h1 {
  color: #3D3D4D;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.field {
  width: 100%;
  margin-bottom: 1rem;
}

.field label {
  display: block;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.field input {
  display: block;
  width: 100%;
  background: #EBEBEB;
  color: #1C1C29;
  padding: 12px 24px;
  border-radius: 4px;
  border: 0;
}

.field input::placeholder {
  color: #A09CB1;
}

.field small {
  color: #E0245E;
}

.box form button {
  display: block;
  border: 0;
  background: #0BC5EA;
  cursor: pointer;

  width: 100%;
  margin: 1.5rem auto 1rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  
  font-weight: 700;
  color: #FFFFFF;
  
  transition: filter 0.2s;
}

.box form button:hover {
  filter: brightness(0.95);
}

.box form button:disabled {
  transition: none;
  cursor: default;
  background: #EBEBEB;
  color: #A09CB1;
}

.box form button:disabled:hover {
  filter: brightness(1);
}