* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: #0BEAA0;
  color: #FFF;
}

html {
  font: 16px "Poppins", sans-serif;
  color: #121214;
}

button, input {
  font-family: "Poppins", sans-serif;
}

a {
  color: #0BC5EA;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.striked {
  text-decoration: line-through;
}